#reg {
  height: 700px;
  padding: 100px 50px;
  background: #dadada;
  color: #204969;
}
#reg button {
  margin: 5px;
  font-size: 20px;
  padding: 5px 5px;
  color: #204969;
  border: solid 1px;
  border-radius: 10px;
}
#reg .title {
  font-size: 20px;
  margin: 10px 5px;
}